<%- include header %>
<%- include meun %>

<div class="col-sm-offset-1 col-sm-7">
    <div class="well">
        <h5>管理员：<%= admin.name %></h5>
        <hr/>
        <% if(error){ %>
        <%= error %>
        <% } %>
        <% if(success){ %>
        <%= success %>
        <% } %>
        <button type="button" class="btn btn-default " data-toggle="modal" data-target="#add">添加</button>
        <table class="table table-hover">
            <tr>
                <td>#No.</td>
                <td>#封图</td>
                <td>#标题</td>
                <td>#作者</td>
                <td>#类型</td>
                <td>#音频</td>
                <td>#操作</td>
            </tr>
            <% if(daliyPapers){ %>
            <% var n = 0 %>
            <% daliyPapers.forEach(function(e){ %>
            <% n++; %>
            <tr>
                <td><%= n %></td>
                <td><a href="#" class="thumbnail"><img data-src="holder.js/100%x180" src="/images/<%= e.pic %>"
                                                       alt="<%= e.title %>"/></a></td>
                <td><%= e.title %></td>
                <td><%= e.author %></td>
                <td>
                    <% if(daliyPaperTypes){ %>
                    <% daliyPaperTypes.forEach(function(_t){ %>
                    <% if(e.typeId == _t._id){ %>
                    <%= _t.name %>
                    <% }})} %>
                </td>
                <td>
                    <% if(e.contentType == "audio"){ %>
                    <audio src="/audio/daliyPaper/<%= e.content %>" controls="controls">您的浏览器不支持 audio 标签。</audio>
                    <% }else if(e.contentType == "text"){ %>
                    <%= e.content %>
                    <% } %>
                </td>
                <td><a href="/admins/daliyPaper/content/delete/<%= e._id %>">删除</a> <a data-toggle="modal"
                                                                                       data-target="#<%= e._id %>">修改</a>
                </td>
            </tr>
            <% }); %>
            <% } %>
        </table>
        <form action="/admins/daliyPaper/content/showAll/<%= pageIndex + 1 %>" method="get">
            <button type="button" class="btn btn-default ">下一页</button>
        </form>

    </div>
</div>
<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">日报管理</h4>
            </div>
            <div class="modal-body">
                <p class="lead">信息录入</p>

                <form class="form-horizontal" role="form" method="POST" action="/admins/daliyPaper/content/add"
                      enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="title" class="col-sm-4 control-label">标题</label>

                        <div class="col-sm-7">
                            <input type="text" name="title" class="form-control" id="title" placeholder="标题"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for=“author” class="col-sm-4 control-label">作者</label>

                        <div class="col-sm-7">
                            <input name="author" type="text" class="form-control" id="author" placeholder="作者">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for=“type” class="col-sm-4 control-label">类型</label>

                        <div class="col-sm-7">
                            <select name="daliyPaperType" id="daliyPaperType">
                                <option value="">未选择</option>
                                <% daliyPaperTypes.forEach(function(e){ %>
                                <option value="<%= e._id %>"><%= e.name %></option>
                                <% }) %>
                            </select>
                            <select name="daliyPaperSubType" id="daliyPaperSubType">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for=“pic” class="col-sm-4 control-label">封图</label>

                        <div class="col-sm-7">
                            <input name="pic" type="file" class="form-control" id="pic">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for=“audio” class="col-sm-4 control-label">内容</label>

                        <div class="col-sm-7">
                            <select name="contentType" id="contentType">
                                <option value="audio">音频</option>
                                <option value="text">文字</option>
                            </select>
                            <input name="audio" type="file" class="form-control" id="audio">
                            <textarea name="txt" type="" class="form-control" id="txt"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-10">
                            <button type="submit" class="btn btn-default">添加该日报</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<% if(daliyPapers){ %>
<% daliyPapers.forEach(function(e){ %>
<div class="modal fade" id="<%= e._id %>" tabindex="-1" role="dialog" aria-labelledby="starModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">日报管理</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" method="POST" action="/admins/daliyPaper/content/update"
                      enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="title" class="col-sm-4 control-label">标题</label>

                        <div class="col-sm-7">
                            <input type="text" name="title" class="form-control" id="title" placeholder="<%= e.title %>"
                                   value="<%= e.title %>"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for=“author” class="col-sm-4 control-label">作者</label>

                        <div class="col-sm-7">
                            <input name="author" type="text" class="form-control" id="author"
                                   placeholder="<%= e.author %>" value="<%= e.author %>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for=“type” class="col-sm-4 control-label">类型</label>

                        <div class="col-sm-7">
                            <select name="daliyPaperType" id="daliyPaperType">
                                <% if(daliyPaperTypes){ %>
                                <% daliyPaperTypes.forEach(function(t){ %>
                                <% if(e.typeId == t._id){ %>
                                <option value="<%= t._id %>" selected><%= t.name %></option>
                                <% }else{ %>
                                <option value="<%= t._id %>"><%= t.name %></option>
                                <% } %>
                                <% }) %>
                                <% } %>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for=“author” class="col-sm-4 control-label">封图</label>

                        <div class="col-sm-7">
                            <img src="/images/<%= e.pic %>" alt="<%= e.title %>"/>
                            <input name="pic" type="file" class="form-control" id="pic">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for=“audio” class="col-sm-4 control-label">音频</label>

                        <div class="col-sm-7">
                            <% if(e.contentType == "audio"){ %>
                            <input name="audio" type="file" class="form-control" id="audio">
                            <% }else if(e.contentType == "text"){ %>
                            <textarea name="txt" type="" class="form-control" id="txt"><%= e.content %></textarea>
                            <% } %>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-10">
                            <input type="hidden" name="id" value="<%= e._id %>"/>
                            <button type="submit" class="btn btn-default">修改</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<% }); %>
<% } %>
<%- include footer %>

<script>
    $(document).ready(function () {
        $('#audio').show();
        $('#txt').hide();

        $('#daliyPaperType').change(function () {
            var subTypes = $('#daliyPaperSubType');
            subTypes.empty();
            <%daliyPaperSubTypes.forEach(function(e){%>
            if ($(this).children('option:selected').val() == '<%=e.parentTypeId%>') {
                var option = $('<option value="<%=e._id%>"><%=e.name%></option>');
                subTypes.append(option);
            }
            <%})%>
        });

        $('#contentType').change(function () {
            switch ($('#contentType').children('option:selected').val()) {
                case 'audio':
                    $('#audio').show();
                    $('#txt').hide();
                    break;
                case 'text':
                    $('#audio').hide();
                    $('#txt').show();
                    break;
            }
        })
    });
</script>