<%- include header %>
<%- include meun %>

<div class="col-sm-offset-1 col-sm-7">
    <div class="well">
        <h5>管理员：<%=admin.name%></h5>
        <hr/>
        <% if(error){ %>
            <%= error %>
        <% } %>
        <% if(success){ %>
            <%= success %>
        <% } %>
        <table class="table table-hover">
            <tr>
                <td>#No.</td>
                <td>#用户名称</td>
                <td>#操作</td>
            </tr>
            <% if(users){ %>
            <% var n=0 %>
            <% users.forEach(function(e){%>
            <%n++;%>
            <tr>
                <td><%=n%></td>
                <td><%=(e.info.name=="None") ? "未激活" : e.info.name %></td>

                <td><a href="/admins/delete/<%=e.email%>">删除</a></td>
            </tr>
            <%});%>
            <%}%>
        </table>
    </div>
</div>

<%- include footer %>